* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #000000;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


header {
    padding: 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}


nav {
    background: #ffffff;
    color: #000000;
    padding: 10px;
}

img.logo {
    width: 50px;
    height: auto;
    float: left;
}
hr{
    border: 2px solid black;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #1d1c1c;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a.links {
    padding: 6px 14px;
    border-radius: 15px; /* Rounded corners */
    border: 1px solid black; /* Optional: Add a border */
}
.container1{
    background-color: rgb(255,59,59);
    padding: 15px 10px;
    margin: 0;
}
.sub-text{
    margin: auto;
    background-color: beige;
    box-shadow: 9px 9px black;
    width: 30%;
    padding: 15px;
}
table {
    border-collapse: collapse; 
    width: 100%; 
}

table td {
    border: 1px solid black; 
    padding: 10px;
    text-align: center; 
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}